<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="log">
    <groups>
        <run>
            <include name="board"/>
        </run>
    </groups>
    <test name="Regression">
        <classes>

            <class name="tests.BoardCreation"/>
            <class name="tests.CardCreation"/>
        </classes>
    </test>
</suite>